- function getIcon(name) {
-   var special = {};
-   special.blog = 'si-doc-text-inv';
-   special.email = 'si-mail';
-   special.report = 'si-doc-text-inv';
-   return special[name] ? special[name] : 'si-' + name;
- }

mixin description
  nav
    ul#nav-links
      li
        a(href='#projects') Projects
      li
        a(href='#contact') Contact
      li
        a(href=info.contact.map.blog.url()) Blog
  .title
    h1
      a(href=info.contact.map.homepage.url())= info.personal.name.normal
    h2.sub= info.personal.titles.list.join(' · ')
  .container
    ul#quick-contact
      - var filter = function (c) { return c.type() !== 'homepage'};
      - var list = info.contact.list.filter(filter);
      - var nShow = 3;
      each c, i in list
        li(class=(i >= nShow ? 'hidden' : undefined))
          a(href=c.url(), title=c.description())
            i(class=getIcon(c.type()))
      if list.length > nShow
        li#expand-quick-contact
          a »
mixin projects
  a#projects.internal
  h2 Projects
  .projects
    each p in info.projects.list
      .project
        h3= p.name
          span.links
            each link in p.links.list
              a(href=link.url, title=link.desc)
                i(class=getIcon(link.type))
        a(href=p.url())
          img(src=app.paths.static + '/screenshots/' + screenshots[p.code].default, alt=p.name + ' screenshot')
        p= p.desc
          if p.links.map.article
            = ' '
            a.more(href=p.links.map.article.url, title=p.links.map.article.desc) (more)
  .clear

mixin contact
  a#contact.internal
  h2 Contact
  - var filter = function (c) { return c.type() !== 'homepage'};
  - var list = info.contact.list.filter(filter);
  - var major = list.slice(0, 4);
  - var minor = list.slice(4);
  ul.contact-icons
    each c in major
      li
        a(href=c.url(), title=c.description())
          i(class=getIcon(c.type()))
  ul.lesser.contact-icons
    each c in minor
      li
        a(href=c.url(), title=c.description())
          i(class=getIcon(c.type()))
  .clear

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= info.personal.name.normal
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,latin-ext')
    link(rel='stylesheet', href=app.paths.static + '/fontello/css/fontello.css')
    link(rel='stylesheet', href=app.paths.style)
    link(rel='shortcut icon', href=app.paths.static + '/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href=app.paths.static + '/favicon152.png')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=0.25')
  body
    section#description
      +description()
    section#s-projects
      +projects()
    section#s-contact
      +contact()
    footer
      p © 2013–2014
        = ' ' + info.personal.name.normal

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src=app.paths.client)
    if app.analyticsCode
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','#{app.analyticsCode}','auto');ga('send','pageview');
