- function getIcon(name) {
-   var special = {};
-   special.blog = 'si-doc-text-inv';
-   special.email = 'si-mail';
-   special.report = 'si-doc-text-inv';
-   return special[name] ? special[name] : 'si-' + name;
- }

mixin description
  .title
    h1= info.personal.name()
    h2.sub= info.personal.titles().join(' · ')
  .container
    .row
      .left
        .portrait
          img(src='/s/portret.jpg', alt=info.personal.name())
      .right
        p= info.personal.descLong
        ul#quick-contact
          - var filter = function (c) { return c.type() !== 'homepage'};
          - var list = info.contact.list.filter(filter);
          - var nShow = 3;
          each c, i in list
            li(class=(i >= nShow ? 'hidden' : undefined))
              a(href=c.url(), title=c.description())
                i(class=getIcon(c.type()))
          if list.length > nShow
            li#expand-quick-contact
              a »
mixin projects
  a#projects.internal
  h2 Projects
  .projects
    each p in info.projects.list
      .project
        h3= p.name
          span.links
            each link in p.links.list
              a(href=link.url, title=link.desc)
                i(class=getIcon(link.type))
        a(href=p.url())
          img(src='/s/screenshots/' + screenshots[p.code].default, alt=p.name + ' screenshot')
        p= p.desc
  .buttons.clear
    //p
      a#show-projects-btn.btn.primary Show more projects
    p
      a.btn(href='https://github.com/paul-nechifor?tab=repositories') View all my repos

mixin interests
  a#interests.internal
  h2 Interests
  .container
    p.desc
      | Things I’ve done in the past and liked and would be
      | interested in exploring further. If you’re interested in something
      | similar (big co and startup alike) go ahead and contact me.
    ul
      li
        strong Network communication protocols
        | .
      li
        strong 3D graphics on the web
        | : use of WebGL for extending the possibilities of
        | meaningful web communication (not gimmicky stuff) like mapping, analysis tools, more
        | immersive previews than simple photos.
      li
        strong Digital publishing with good typography
        | : publication of content that builds and improves
        | on classic typography. Much of current publishing is subpar to dead tree typography.
      li
        strong Natural language correction tools
        | : practical (web?) NLP tools that
        | correct text beyond simple spell checkers.
      li
        strong Clear designs
        | : unobtrusive design that focuses on the content and its
        | navigation and manipulation.
      li
        strong AI game algorithms
        | : From complex algorithms
        | for simple pen and paper games to writing bots for complex games.
      li
        strong Programming languages
        | : I don’t think enough languages exist.
        | There is room for improvement especially in non-general purpose languages.

mixin contact
  a#contact.internal
  h2 Contact
  - var filter = function (c) { return c.type() !== 'homepage'};
  - var list = info.contact.list.filter(filter);
  - var major = list.slice(0, 4);
  - var minor = list.slice(4);
  ul.contact-icons
    each c in major
      li
        a(href=c.url(), title=c.description())
          i(class=getIcon(c.type()))
  ul.lesser.contact-icons
    each c in minor
      li
        a(href=c.url(), title=c.description())
          i(class=getIcon(c.type()))
  .clear

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= info.personal.name()
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,latin-ext')
    link(rel='stylesheet', href='/s/fontello/css/fontello.css')
    link(rel='stylesheet', href='/s/css/app.css')
    link(rel='shortcut icon', href='/s/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='/s/favicon152.png')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=0.25')
  body
    nav
      .container
        .all-menu
          .activate
            i.si-menu
          ul#nav-links
            li
              a(href='#projects') Projects
            li
              a(href='#interests') Interests
            li
              a(href='#contact') Contact
            li
              a(href='http://blog.paul.nechifor.net') Blog
        h2.self
          a(href='#')= info.personal.name()

    section#description
      +description()
    section#s-projects
      +projects()
    section#s-interests
      +interests()
    section#s-contact
      +contact()
    footer
      p © 2013–2014
        = ' ' + info.personal.name()

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/s/js/client.js')
